---
layout: default
---
<div class="main-content">
    <div class="primary-content">
        <!-- About Section -->
        <div class="about-section">
            <h1>GitHub Copilot Tips & Tricks</h1>
            <p>All the best things about GitHub Copilot that nobody ever bothered to show you.</p>
        </div>
        <div class="tip-list">
            {% for tip in site.tips %}
            <a href="{{ tip.url }}">
                <div class="tip-item">
                    <div class="overlay"></div>
                    <h2>{{ tip.title }}</h2>
                    <div class="thumbnail">
                        <img src="https://img.youtube.com/vi/{{ tip.videoId }}/sddefault.jpg" alt="Thumbnail"
                            style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <p class="tip-description">{{ tip.description }}</p>
                    <div class="tags">
                        {% for tag in tip.tags %}
                            <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>