---
---

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <div>
        <div class="container is-widescreen has-text-right">
            {% include header.html %}
        </div>
        <div id="tips">
            {% for tip in site.data.tips %}

            {% assign index = forloop.index %}
            {% unless index >= 10 %}
            {% assign index="0" | append: index %}
            {% endunless %}

            <div>
                {% include tip.html data = tip number = index %}
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</body>

</html>