@use 'sass:math';

// Define breakpoints
$breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

$gap: 16px;

@mixin generate-columns($breakpoint) {
    @for $i from 1 through 12 {
        .col-#{$breakpoint}-#{$i} {
            flex: 0 0 calc(100% / 12 * #{$i} - #{$gap} / 12);
            max-width: calc(100% / 12 * #{$i} - #{$gap} / 12);
        }
    }
}

// Container class
.container {
    width: 100%;
    max-width: 1200px; // Set a maximum width for the container
    padding: 0 math.div($gap, 2);
    margin: 0 auto;
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Column base */
[class*='col-'] {
    padding: math.div($gap, 2);
    box-sizing: border-box;
}

/* Generate columns for each breakpoint */
@include generate-columns(xs);

@each $breakpoint, $value in $breakpoints {
    @if $value != 0 {
        @media (min-width: $value) {
            @include generate-columns($breakpoint);
        }
    }
}

/* Full width column */
.col-full {
    flex: 1 1 auto;
}

/* Auto width column */
.col-auto {
    flex: 0 0 auto;
}