---
layout: default
---
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            {% include video-embed.html %}
            <div class="tags">
                {% for tag in page.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
            <h2 class="fs-2 pt-3 pb-3 text-accent">{{ page.title }}</h2>
            <p class="text-faded">{{ page.content }}</p>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="bg-light br-4 p-1">
                {% include video-list.html %}
            </div>
        </div>
    </div>
</div>